# --------- backend  ---------

# dependencies
backend/**/node_modules/

# generated
backend/**/dist
backend/**/*.dbml
backend/prisma/**/migrations
backend/config/graphql/schema.gql
backend/coverage/
backend/**/@generated

# environment files
backend/**/.env
backend/**/.production.env

# ----------- misc  ----------
.DS_Store
.atom
**/logs
**/*.log
.todo

# ---------- editor  ---------
*.iml
*.ipr
*.iws
.idea
.vscode
